# Dependencias
node_modules/
dist/
build/

# Secretos y configuración
.env
secrets/
*.pem
*.key

# Logs y basura del sistema
*.log
.DS_Store
.npm/

# Temporales
tmp/
BUNKERCORE-APP/gradle-8.7-bin.zip
BUNKERCORE-APP/gradle-8.7/
